

body {
    color: white;
}

h1 {
    display: inline-block;
    border-style: solid;
    width: 280px;
    padding: 5px;

}




div.rajat {
    border-style: dotted;
    border-width: 2px;
    height: 140px;
    width: 150px;
    font-size: 12;
    color: black;
}